sudachipy
inflect
phonemizer
pydub
sudachidict_full
kanjize
trl>=0.23.0
safetensors
huggingface_hub
transformers
runpod
soundfile

torch==2.5.1
torchaudio==2.5.1
--extra-index-url https://download.pytorch.org/whl/cu121
librosa

numpy==1.26.4
accelerate