sudachipy
inflect
phonemizer
pydub
sudachidict_full
kanjize
trl>=0.23.0
safetensors
huggingface_hub
transformers
runpod
soundfile

torch==2.3.1+cu121
torchaudio==2.3.1+cu121
--extra-index-url https://download.pytorch.org/whl/cu121

numpy>=1.26
accelerate